/* Стили для body, header и footer прописаны в layout.css */

.textGroup h1 {
    padding-bottom: 1%;
}
.textGroup p {
    padding-top: 2%;
}
.village {
    padding: 2% 0 0 40%;
}
.lab {
    padding: 20% 0 0 2%;
}
.workshop {
    padding: 20% 0 0 40%;
}
.rest {
    padding: 20% 0 20% 2%;
}

.villageImages .image,
.labImages .image,
.workshopImages .image,
.restImages .image {
    width: 19vw;
    height: auto;
    margin: 5px;
    position: absolute;
    z-index: 100;
    transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease;
}

.textGroup {
    position: relative;
}

.village, .lab, .workshop, .rest {
    margin: 20px;
}

/* Начальные позиции изображений */
.villageImages .image:nth-child(1) { top: 8vw; left: 32vh; }
.villageImages .image:nth-child(2) { top: 14vw;left: 68vh; }
.villageImages .image:nth-child(3) { top: 9vw; left: 98vh; }
.villageImages .image:nth-child(4) { top: 14vw; left: 120vh; }

.labImages .image:nth-child(1) { top: 22vw;left: 10vh; width: 24vh; }
.labImages .image:nth-child(2) { top: 30vw; left: 30vh;}
.labImages .image:nth-child(3) { top: 26vw; left: 86vh; }
.labImages .image:nth-child(4) { top: 28vw; left: 140vh; }
.labImages .image:nth-child(5) { top: 44vw; left: 4vh; width: 51vh; }
.labImages .image:nth-child(6) { width: 26vh; top: 34vw; left: 70vh; }
.labImages .image:nth-child(7) { top: 40vw; left: 104vh; }
.labImages .image:nth-child(8) { width: 48vh; top: 52vw; left: 32vh; }

.workshopImages .image:nth-child(1) { top: 72vw; left: 88vh;; }
.workshopImages .image:nth-child(2) { top: 76vw; left: 62vh; }
.workshopImages .image:nth-child(3) { top: 76vw;left: 118vh; width: 46vh; }
.workshopImages .image:nth-child(4) { top: 96vw;left: 12vh; width: 44vh; }
.workshopImages .image:nth-child(5) { top: 86vw; left: 48vh; width: 45vh; }
.workshopImages .image:nth-child(6) { top: 90vw;left: 76vh;width: 44vh; }

.restImages .image:nth-child(1) { top: 118vw; left: 42vh; }
.restImages .image:nth-child(2) { top: 122vw; left: 92vh; }
.restImages .image:nth-child(3) { top: 122vw; left: 8vh; width: 40vh; }
.restImages .image:nth-child(4) { top: 130vw; left: 49vh; width: 46vh; }
.restImages .image:nth-child(5) { top: 114vw;left: 116vh; width: 50vh; }

/* Состояние при наведении */
.content:hover .villageImages .image:nth-child(1) { transform: translate(-2vw, 2vh) rotate(-25deg); }
.content:hover .villageImages .image:nth-child(2) { transform:translate(-32vw, 8vh) rotate(5deg) }
.content:hover .villageImages .image:nth-child(3) { transform: translate(24vw, 4vh) rotate(55deg) }
.content:hover .villageImages .image:nth-child(4) { transform: translate(4vw, 12vh) rotate(-5deg) }

.content:hover .labImages .image:nth-child(1) { transform: translate(-6vw, -2vh) rotate(-5deg) }
.content:hover .labImages .image:nth-child(2) { transform: translate(2vw, -8vh) rotate(15deg) }
.content:hover .labImages .image:nth-child(3) { transform: translate(10vw, 12vh) rotate(5deg) }
.content:hover .labImages .image:nth-child(4) { transform: translate(2vw, 15vh) rotate(-5deg) }
.content:hover .labImages .image:nth-child(5) { transform: translate(2vw, 45vh) rotate(15deg) }
.content:hover .labImages .image:nth-child(6) { transform: translate(12vw, 30vh) rotate(-75deg) }
.content:hover .labImages .image:nth-child(7) { transform: translate(6vw, 20vh) rotate(5deg) }
.content:hover .labImages .image:nth-child(8) { transform: translate(8vw, 20vh) rotate(-15deg) }

.content:hover .workshopImages .image:nth-child(1) { transform: translate(28vw, -20vh) rotate(-45deg) }
.content:hover .workshopImages .image:nth-child(2) { transform: translate(-28vw, 10vh) rotate(-25deg) }
.content:hover .workshopImages .image:nth-child(3) { transform: translate(8vw, 2vh) rotate(10deg) }
.content:hover .workshopImages .image:nth-child(4) { transform: translate(1vw, 12vh) rotate(-10deg) }
.content:hover .workshopImages .image:nth-child(5) { transform: translate(35vw, 14vh) rotate(-10deg) }
.content:hover .workshopImages .image:nth-child(6) { transform: translate(30vw, 20vh) rotate(25deg) }

.content:hover .restImages .image:nth-child(1) { transform: translate(15vw, -25vh) rotate(15deg) }
.content:hover .restImages .image:nth-child(2) { transform: translate(10vw, 25vh) rotate(15deg) }
.content:hover .restImages .image:nth-child(3) { transform: translate(2vw, 32vh) rotate(5deg) }
.content:hover .restImages .image:nth-child(4) { transform: translate(6vw, 2vh) rotate(-5deg) }
.content:hover .restImages .image:nth-child(5) { transform: translate(8vw, 12vh) rotate(-15deg) }

