/* Стили для body, header и footer прописаны в layout.css */

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4vh;
    align-items: center;
}
.steps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 8vh;
}

.step1, .step2, .step3 {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.step2{
    position: relative;
}

.step3 img {
    max-width: 100%;
    height: auto;
}

.stepImages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkButton  {
    color: black;
    cursor: pointer;
    font-size: 4vh;
    text-decoration: underline;
    text-align: center;
}
.linkButton :hover {
    text-decoration: underline;
}

.form-container {
    background-color: #fff;
    max-width: 400px;
    width: 100%;
}

.close-button {
    background: none;
    font-size: 24px;
    cursor: pointer;
    border: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    background-color: #00A8FF;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 14px;
    text-decoration: none;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease
}

.submit-button:hover {
    background-color: #318ae4;
}

@media (max-width: 1440px) {
    .steps {
        margin-top: 7vh;
    }
    .step3 {
        display: none;
    }
}

/* Для экранов шириной до 1366px */
@media (max-width: 1366px) {
    .step3 {
        display: none;
    }
    h2 {
        font-size: 4vh;
    }
    p {
        font-size: 1.4vh;
    }
    a {
        display: none;
    }
}

/* Для экранов шириной до 1024px */
@media (max-width: 1024px) {
    .steps {
        flex-direction: column;
        align-items: center;
        gap: 6vh;
        margin-top: 5vh;
    }
}

/* Для экранов шириной до 768px */
@media (max-width: 768px) {
    .steps {
        flex-direction: column;
        align-items: center;
        margin-top: 4vh;
    }
}

/* Для экранов шириной до 360px */
@media (max-width: 360px) {
    .steps {
        flex-direction: column;
        align-items: center;
        margin-top: 3vh;
    }
    h2 {
    font-size: 3.5vh;
    }
    p {
    font-size: 1.2vh;
    }
}


